.first {
    width: 320px;
    height: 450px;
    height: 385px;
    margin: 10px;
    border-width: 0 2px 0 2px;
    border-color: #c770f0;
    border-style: solid;
    position: relative;
    flex: content;
}

    .first span {
        position: absolute;
        display: flex;
        right: 0;
        left: 0;
        align-items: center;
    }

.foo {
    font-size: 16px;
    font-family: Arial;
}

.first .foo {
    top: -30px;
}

.first .bar {
    bottom: -8.5px;
    bottom: -9px;
}

.first span:before {
    margin-right: 15px;
}

.first span:after {
    margin-left: 15px;
}

.first span:before, .first span:after {
    content: ' ';
    height: 2px;
    background: #c770f0;
    display: block;
    display: flow;
    width: 50%;
}

.inledning {
    color: black;
    font-family: Arial;
    position: center;
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d2c9ff;
}

.catalog-wrapper {
    background-color: #F6E3FF;
    padding: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content auto;
}

.container {
    background-color: #F6E3FF;
    align-items: center;
}

.wrapper-item2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    background-color: white;
    box-shadow: violet 1px 2px 7px;
    margin-bottom: 10px;
}

.image {
    border-radius: 30px;
}

.image-container {
    flex: 1;
    flex-shrink: 1;
    margin-right: 20px;
    width: 100%;
}

.text {
    flex: 2;
    font-size: 20px;
    flex-grow: 3;
}

.sidebar {
    box-shadow: violet 1px 4px 7px;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: initial;
}

div.content {
    margin-left: 200px;
    /*margin-top: 100px;*/
    padding: 10px 16px;
    height: 1000px;
}

a {
    text-decoration: none;
    color: black;
}

#filter-header {
    display: flex;
    justify-content: space-evenly;
}

#filters-title {
    margin-top: 10px;
}

#card {
    box-shadow: violet 1px 4px 7px;
    flex-direction: row;
    width: 18rem;
    margin: 10px;
    background-color: white;
}

#card-body {
    box-shadow: violet 1px 4px 7px;
    background-color: white;
}
/*-------------------Details CSS---------------------------*/
.addBtn {
    padding: 10px 20px;
    background: #c770f0;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    margin: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.popUp {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    border: solid 2px;
    border-color: #c770f0;
    box-shadow: 0px 0px 20px #c770f0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.openPopUpDiv {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popUp img {
    width: 200px;
    margin-top: 20px;
    border-radius: 80%;
    box-shadow: 0 2px 5px rgba(red,green,blue, 0.2);
}

.popUp h3 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.fa-sharp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
}

.navbar-nav .nav-item .nav-link .icon {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.badge {
    font-size: xx-small;
    margin-left: -87px;
    margin-bottom: 1rem;
}

.navbar-brand {
    margin-left: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #BF6CE6;
    margin-top: auto;
}
