.wrapper {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
}

.wrapper-item2{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

.image-container {
    flex: 1;
    flex-shrink:1;
    margin-right: 20px;
    width:100%;
}

.text {
    flex: 2;
    font-size: 20px;
    flex-grow:3;
}



.filters-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.sidebar {
    box-shadow: violet 1px 4px 7px;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

    .sidebar li {
        margin-left:0;
        list-style:none;    
        display: block;
        color: black;
        text-decoration: none;
        margin-right:10px;
    }


div.content {
    margin-left: 200px;
    /*margin-top: 100px;*/
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
