<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8">
                <div class="card card-registration card-registration-2" style="border-radius: 15px; overflow:hidden">
                    <div class="card-body p-0 text-center">
                        <div class="row justify-content-center gx-3 mt-4 mb-4">
                            <div class="col-6">
                                <h2>Ojdå! Något gick fel :(</h2>
                                <div class="mt-5 mb-5">
                                    <i class="fa-solid fa-circle-xmark fa-10x" style="color: red;"></i>
                                </div>
                                <h4>Vänligen försöka igen senare</h4>
                                <div class="mb-3 mt-3">
                                <a asp-action="Index" class="text-body pt-4">
                                    <i class="fas fa-long-arrow-alt-left me-2"></i>Gå tillbaka till startsidan
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>