@{
    ViewBag.Title = "Error";
    ViewBag.Header = "Ett server-fel inträffade!";
    ViewBag.P = "Var vänlig och försök igen!";
}
    <img src="./Photos_and_Icons/SadFaceError2.png" alt="Sad Face Error"/>
    <header>Wopsiiie!! @ViewBag.Header</header>
    <p>@ViewBag.P</p>