@model LWI.Views.Shared.Components.ShoppingCartCounter.ShoppingCartCounterVM


@{string visibility = (Model.Items > 0 ? "visible" : "hidden");}
        @*<div class="badge">*@
            <span id="toAdd" style="visibility: @visibility" class="badge badgeCart rounded-pill alert-danger top-right bg-danger">@Model.Items</span>
     @*   </div>*@