<p>@User.Identity.Name</p>

<a asp-action="EditProfile">Redigera min profil</a>
<a asp-action="CourseList">Mina kurser</a>
<a asp-action="AddCourse">Skapa en ny kurs</a>
<a asp-action="Logout">Logga ut</a>