<p>@User.Identity.Name</p>


<div class="accountHomePage">

            <div class="accountCard">
                    <a  asp-controller="Account" asp-action="EditProfile">		
                <div class="card-body">
                        <span class="fa-solid fa-user-pen fa-6x" style="color: #4b1e9f;"></span>
                            <h5 class="card-title">Redigera din profil</h5>
                </div>
                    </a>
                </div>
                            <div class="accountCard">
                <div class="card-body">
                    <a  asp-controller="Account" asp-action="EditProfile">		
                        <span class="fa-solid fa-user-pen fa-6x" style="color: #4b1e9f;"></span>
                            <h5 class="card-title">Ändra i din profil</h5>
                    </a>
                </div>
                </div>

            <div class="accountCard">
                <div class="card-body">
                    <a  asp-controller="Account" asp-action="EditProfile">		
                        <span class="fa-solid fa-user-pen fa-6x" style="color: #4b1e9f;"></span>
                            <h5 class="card-title">Ändra i din profil</h5>
                    </a>
                </div>
                </div>

            <div class="accountCard">
                <div class="card-body">
                    <a  asp-controller="Account" asp-action="EditProfile">		
                        <span class="fa-solid fa-user-pen fa-6x" style="color: #4b1e9f;"></span>
                            <h5 class="card-title">Ändra i din profil</h5>
                    </a>
                </div>
                </div>
</div>
<a asp-action="EditProfile">Redigera min profil</a>
<a asp-action="CourseList">Mina kurser</a>
<a asp-action="AddCourse">Skapa en ny kurs</a>
<a asp-action="Logout">Logga ut</a>