@model EditCourseVM

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-5 gy-4">

            <h3 class="display-4 text-center py-3">Redigera kurs</h3>

            <form asp-action="EditCourseAsync">
                <div class="mb-3">
                    <label asp-for="Name" class="fw-bold form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="fw-bold form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DescriptionShort" class="fw-bold form-label"></label>
                    <input asp-for="DescriptionShort" class="form-control" />
                    <span asp-validation-for="DescriptionShort"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DescriptionLong" class="fw-bold form-label"></label>
                    <textarea asp-for="DescriptionLong" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="DescriptionLong"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Category" class="fw-bold form-label"></label>
                    <input asp-for="Category" class="form-control mb-2" />
                    <span asp-validation-for="Category"></span>
                </div>
                <div class="form-check">
                    <label asp-for="IsEco" class="fw-bold form-check-label"></label>
                    <input asp-for="IsEco" class="form-check-input" />
                </div>
                <input class="invisible" asp-for="Id" value=@Model.Id />
                <input type="submit" class="btn payBtn" value="Spara förändringar" />
            </form>
        </div>
    </div>
</div>