@model MyCoursesVM[]

            <div class="card mx-3 mt-3 mb-4 px-2">
                <div class="card-body px-4 py-4">
                    <h2 class="display-5 text-center py-2 mb-3">Mina kurser</h2>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
                        @{
                            foreach (var c in Model)
                            {
                                <partial name="_CourseInAccount" model=c />
                            }
                        }
                    </div>
                </div>
            </div>
