    <!-- Navbar -->
    <div class="container-fluid"></div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-dragon" style="color: #c770f0;">LDMI</i> <br>         
            <font face="Verdana" size="2" style="color:darkgrey">Lär dig med Isam</font>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <i class="fa-sharp fa-solid fa-house fa-stack-x2" style="color: #c770f0;"></i>
                    <a class="nav-link" asp-action="Index">Homepage <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <i class="fa-sharp fa-solid fa-book fa-stack-x2" style="color: #c770f0;"></i>
                    <a class="nav-link center-block" href="Catalog">Kurskatalog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link pull-right" href="ShoppingCart">
                        <i class="fas fa-shopping-cart fa-stack-x2" style="color: #c770f0;"></i> 
                        Varukorg
                        <span class="position-absolute alert-danger translate-middle badge rounded-pill bg-danger fa-stack-x1" style="font-size:xx-small"> 
                                @ViewBag.NoOfItems
                           
                        </span>
                    </a>
                </li>
@*                <li class="nav-item">
                    <a class="nav-link pull-right" href="ShoppingCart">
                        <i class="fas fa-shopping-cart" style="color: #c770f0;"></i>
                        Varukorg <span class="badge badge-pill badge-secondary">@ViewBag.NoOfItems</span>
                    </a>
                </li>*@
           @*     <li class="nav-item">
                    <i class="fa-sharp fa-solid fa-cart-shopping" style="color: #c770f0;"></i>
                    <a class="nav-link pull-right" href="ShoppingCart">Varukorg</a>
                <i class="fa" style="font-size:15px">&#xf07a;</i>
                <span> 5 </span>
                </li>*@
            </ul>
        </div>
    </nav>