<div class="wrapper">
    <h1 class="wrapper-item1 mt-4 display-2">Lär dig med Isam</h1>
    <div class="wrapper-item2 my-4 py-5 mx-5">
        <div class="row justify-content-evenly align-items-center">
            <div class="col-5">
                <div class="image-container px-2 mx-2">
                    <img class="image" src="~/images/isam.png" height="500" />
                </div>
            </div>
            <div class="col-4">
                <div id="indexCard" class="card">
                    <div class="card-body mx-4 my-4 text-justify">
                        <h3 class="display-5 text-center pb-2">Varmt välkommen!</h3>
                        <hr />
                        <p>
                            Är du sugen på att lära dig något nytt men har inte tid med långtidsstudier? Då har du kommit helt rätt. Lär dig med Isam är en perfekt kurssida för dig. Du kan lära dig allt från Java och HTML till engelska eller franska. Gå lös i vår kurskatalog och hitta vad som passar just dig, klicka hem önskad kurs och samla på dig kunskaper! Kanske även utöka ditt CV?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
