<div class="wrapper">
    @*<h1 class="wrapper-item1 mt-4" face="Arial">Lär dig med Isam</h1>*@
    <h1 class="wrapper-item1 mt-4 display-2">Lär dig med Isam</h1>
    <div class="wrapper-item2 my-4 py-5">
        <div class="image-container">
            <img class="image" src="~/images/isam.png" height="500" />
        </div>
        <div class="box me-5">
            <div class="first">
                <span class="foo">LDMI</span>
                <div class="inledning">
                    <ul>
                        Är du sugen på att lära dig något nytt men har inte tid med långtidsstudier? Då har du kommit helt rätt. Lär dig med Isam är en perfekt kurssida för dig. Du kan lära dig allt från Java och HTML till engelska eller franska. Gå lös i vår kurskatalog och hitta vad som passar just dig, klicka hem önskad kurs, betala och samla på dig kunskaper. Kanske även uttöka ditt CV?
                    </ul>
            </div>
        </div>
        </div>
    </div>
</div>
