<h1 style="text-align:center">Välkommen till LDMI</h1>
<div class="container">
	<div class="image">
		<img src="~/images/2023-03-24 134431.png" height="500" />
	</div>
	<div class="text">
		<p> Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, leo eget bibendum sodales, augue velit cursus nunc,</p>
	</div>
</div>