
<div class="wrapper">
    <h1 class="wrapper-item1" face="Arial" style="text-align:center">Lär dig med Isam</h1>
    <div class="wrapper-item2">
        <div class="image-container">
            <img class="image" src="~/images/2023-03-24 134431.png" height="500" />
        </div>
        <div class="box">
            <div class="first">
                <span class="foo">LDMI</span>
                <div class="inledning">
                    <ul>
                        Är du sugen på att lära dig något nytt men har inte tid med långtidsstudier? Då har du kommit helt rätt. Lär dig med Isam är en perfekt kurssida för dig. Du kan lära dig allt från Java och HTML till engelska eller franska. Gå lös i vår kurskatalog och hitta vad som passar just dig, klicka hem önskad kurs, betala och samla på dig kunskaper. Kanske även uttöka ditt CV?
                    </ul>
            </div>

        </div>
        </div>
    </div>

</div>
</>